@page "/authors/"
@namespace BookStoreApp.Blazor.Server.UI.Pages
@using BookStoreApp.Blazor.Server.UI.Components.Pages.Authors
@inject IAuthorService authorService;
@inject IJSRuntime JsRuntime

<h3>Index</h3>

@if (!response.Success)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}
else
{
    @if (authors == null)
    {
        <div class="alert alert-info">
            <h4>Loding data...</h4>
        </div>
    }
    else
    {                   
              <AuthorizeView Roles="Administrator">
            <a class="btn btn-dark" href="/authors/create"><span class="oi oi-plus" aria-hidden="true"></span> Create </a>
        </AuthorizeView>
        <br/>
        <AuthorTable Authors="authors" TotalSize="TotalSize" OnScroll="LoadAuthors"  OnDeleted="Delete"/>
    }
}

@code {
    public List<AuthorReadOnlyDto> authors;
    public int TotalSize { get; set; }
    private Response<AuthorReadOnlyDtoVirtualizeResponse> response = new Response<AuthorReadOnlyDtoVirtualizeResponse> { Success = true };
    protected Virtualize<AuthorTable> ChildComponent;

    protected override async Task OnInitializedAsync()
    {
        response = await authorService.GetAuthors(new QueryParameters { StartIndex = 0 });
        if (response.Success)
        {
            authors = response.Data.Items.ToList();
        }
    }

    private async Task LoadAuthors(QueryParameters queryParams)
    {
        var virtualizeResult = await authorService.GetAuthors(queryParams);
        authors = virtualizeResult.Data.Items.ToList();
        TotalSize = virtualizeResult.Data.TotalSize;
    }

    private async Task Delete(int authorId)
    {
        var response = await authorService.Delete(authorId);
        if (response.Success)
        {
            await ChildComponent?.RefreshDataAsync();
            StateHasChanged();
        }
    }
}